<!DOCTYPE html>
<html>
  <head>
    <title>🌈</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="/emoji/1f308.svg" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <main>
    </main>
    
    <canvas id="surface" />
    
    <script src="/bundle.js"></script>

  </body>
</html>
